.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  display: flex;
  .mat-button,
  .mat-flat-button,
  .mat-stroked-button {
    border-radius: 0px;
  }
}

.active-link {
  background-color: #ffffff;
  color: #3f51b5;
}
